<div class="text-field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="text-field">
  <%= form.label :head_of_department %>
  <%= form.text_field :head_of_department %>
</div>

