
  <%= form_for @department do |form| %>
    <%= render partial: '/departments/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

  <% end %>

<%= link_to "Dashboard", root_path%>